* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
input {
  outline: none;
  &:focus {
    border-radius: 4px;
    outline: 1px solid rgba(255, 63, 58, 0.40);
    background: var(--white, #FFF);
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(255, 63, 58, 0.04), 0px 30px 24px -10px rgba(255, 63, 58, 0.05), 0px 80px 80px -20px rgba(255, 63, 58, 0.08);
  }
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: rgba(66, 69, 81, 1);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  //&:visited {
  //  color: rgba(66, 69, 81, 1);
  //}
}

h1 {
  margin-top: 21px;
  font-size: 62px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%; /* 83.2px */
  letter-spacing: 1px;
}


.title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(30, 33, 44, 1);
  &-center {
    text-align: center;
  }
  &__wrapper {
    margin-bottom: 40px;
  }
  &__big {
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
    color: rgba(30, 33, 44, 1);
    margin-top: 8px;
    &-center {
      text-align: center;
    }
  }
  &__view {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: rgba(30, 33, 44, 1);
  }
  &-footer {
    color: #FFFFFF;
  }
}

::selection {
  background: #ffd1d1;
}
.show {
  display: block;
  visibility: visible;
  transition: all 0.3s;
}
.hide {
  display: none !important;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

.active {
  a {
    color: #FF3F3A;
  }
}

button {
  &:hover {
    transform: scale(1.015);
    transition: 0.3s all;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.25), 0px 12px 10px -6px rgba(154, 156, 165, 0.25), 0px 30px 24px -10px rgba(154, 156, 165, 0.24), 0px 80px 80px -20px rgba(154, 156, 165, 0.24);
    //box-shadow: 10px 14px 124px -4px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.1), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 80px 80px -20px rgba(255, 63, 58, 0.1);
  }
}

.submited input:invalid {
  border-radius: 4px;
  border: 1px solid var(--danger, #FF4242);
  background: var(--white, #FFF);
  background-image: url("../icons/form-default-danger.png");
  background-repeat: no-repeat;
  background-position: 96% 50%;
  //transition: 0.4s all;
}

.submited input:valid {
  border-radius: 4px;
  border: 1px solid rgba(3, 206, 164, 1);
  outline: none;
  background: var(--white, #FFF);
  background-image: url("../icons/form-default-Mark.png");
  background-repeat: no-repeat;
  background-position: 96% 50%;
  //transition: 0.4s all;
}

.submited > #textarea textarea:valid {
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(3, 206, 164, 1);
  background: var(--white, #FFF);
  background-image: url("../icons/form-default-Mark.png");
  background-repeat: no-repeat;
  background-position: 96% 50%;
}
.submited > #textarea textarea:invalid {
  border-radius: 4px;
  border: 1px solid var(--danger, #FF4242);
  background: var(--white, #FFF);
  background-image: url("../icons/form-default-danger.png");
  background-repeat: no-repeat;
  background-position: 98% 10%;
}

//.promo__form.submited input:invalid {
//  border-radius: 4px;
//  border: 1px solid var(--danger, #FF4242);
//  background: var(--white, #FFF);
//  background-image: url("../icons/form-default-danger.png");
//  background-repeat: no-repeat;
//  background-position: 96% 50%;
//  //transition: 0.4s all;
//}
//
//.promo__form.submited input:valid {
//  border-radius: 4px;
//  //border: 1px solid rgba(3, 206, 164, 1);
//  outline: none;
//  border: none;
//  background: var(--white, #FFF);
//  background-image: url("../icons/form-default-Mark.png");
//  background-repeat: no-repeat;
//  background-position: 96% 50%;
//  //transition: 0.4s all;
//}
