.blog {
  min-height: 959px;
  padding: 120px 0 180px 0;
  &__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    button {
      align-self: flex-end;
      position: relative;
      top: -57px;
    }
    a {
      display: flex;
      align-self: flex-end;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: 390px 390px 390px;
    grid-template-rows: 507px;
    column-gap: 30px;
  }
  &__badge {
    display: inline-flex;
    padding: 1px 8px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--white, #FFF);
    position: relative;
    top: 37px;
    left: 13px;
    user-select: none;
    &-text {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: #424551;
    }
  }
  &__content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  &__meta {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #787A80;
    margin-top: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  &__subject {
    font-weight: 700;
  }
  &__divider {
    width: 1px;
    height: 12px;
    background-color: #787A80;
  }
  &__date {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__duration {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #1E212C;
    cursor: pointer;
  }
  &__subtext {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #424551;
  }
  &__link {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
}


