.header {
  min-height: 1080px;
  background: url("../img/Header/background.jpg") center (center/cover) no-repeat;
  &__menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  &__logo {
    display: flex;
    justify-content: flex-end;
  }
  &__links {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    left: 206px;
  }
  &__item {
    padding-right: 40px;
    list-style-type: none;
    position: relative;
    a:hover {
      color: #FF3F3A;
      transition: .15s ease-in-out;
    }

  }
  &__wrapper {
    display: inline-flex;
  }
  &__account {
    margin-top: 13px;
    color: #424551;
  }
  &__image {
    position: relative;
    img {
      position: absolute;
      bottom: -83px;
      right: -73px;
    }
  }
  &__statistics {
    display: flex;
    justify-content: space-between;
    margin-top: 259px;
    padding-bottom: 80px;
    .item {
      display: inline-flex;
      align-items: center;
      &__count {
        text-align: center;
        font-size: 46px;
        font-style: normal;
        font-weight: 900;
        line-height: 130%;
        margin-right: 12px;
      }
      &__desc {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
      }
      img {
        margin: 0 44px;
      }
    }
  }
}


.show-reel {
  &__play {
    position: relative;
  }
  &__desc {
    margin-bottom: 55px;
    margin-left: 85px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    width: 88px;
    position: absolute;
    left: -10px;
    top: 171px;
  }
  &__buttons {
    margin-top: 60px;
  }
}

.dropdown-menu {
  position: absolute;
  left: -20px;
  top: 100%;
  background-color: white;
  padding: 20px 20px 20px 20px;
  z-index: 2000;
  opacity: 0;
  border-radius: 4px;
  border: 1px solid var(--gray-400, #D7DADD);
  background: var(--white, #FFF);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(255, 63, 58, 0.04), 0px 30px 24px -10px rgba(255, 63, 58, 0.05), 0px 80px 80px -20px rgba(255, 63, 58, 0.08);
  a {
    color: var(--gray-800, #424551);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 5px;
    width: 150px;
    &:hover {
      color: #FF3F3A;
      transition: 0.3s all;
    }
  }
}

.dropdown:hover {
  .dropdown-menu {
    opacity: 1;
    transition: opacity 0.3s linear;
  }
}