.subscribe {
  min-height: 564px;
  background: url("../img/background_subscribe.jpg") center (center/cover) no-repeat;
  padding: 120px 0 180px 0;
  overflow: hidden;
  &__background {
    position: relative;
    &-left {
      position: absolute;
      top: 197px;
      left: -336px;
    }
    &-right {
      position: absolute;
      top: 197px;
      right: -336px;
    }
  }
  &__heading {
    text-align: center;
    padding-bottom: 60px;
  }
  &__form {
    display: flex;
    height: 52px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
  }
  &__input {
    display: flex;
    width: 422px;
    height: 52px;
    padding: 13px 180px 13px 16px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--gray-400, #D7DADD);
    background: var(--white, #FFF);
  }
}