.team {
  min-height: 1570px;
  flex-shrink: 0;
  background: url("../img/team/Background.jpg") center (center/cover) no-repeat;
  padding: 166px 0 100px 0;

  &__slider {
    &-controls {
      position: absolute;
      right: 16px;
      top: 46px;
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      flex-shrink: 0;
    }
    &-wrapper {
      margin-top: 60px;
    }
    &-inner {
      display: flex;
      justify-content: center;
    }
  }
  &__slide {
    width: 285px;
    height: 416px;
    flex-shrink: 0;
  }
  &__image {
    border-radius: 4px;
    background-color: rgba(255, 207, 45, 1);
    &-wrapper {
      position: relative;
    }
    &-wrapper::before {
      content: '';
      display: block;
      background-image: url("../icons/team-gradient.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 246px;
      height: 320px;
      border-radius: 4px;
      position: absolute;
      transition: all 0.5s;
      opacity: 0;
    }
    &-wrapper:hover::before {
      transition: 0.3s;
      opacity: 1;
    }
  }
  &__socials {
    position: absolute;
    bottom: 4px;
    left: 0;
    display: flex;
    width: 246px;
    height: 320px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    a {
      padding: 5px;
    }
    a svg {
      display: none;
    }
    &:hover a svg {
      display: block;
      transition: 0.3s;
    }
  }

.team__socials a:hover {
  svg path {
    fill: #FFFFFF;
    opacity: 1;
    transition: 0.3s;
  }
}

  &__name {
    width: 245px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: rgba(66, 69, 81, 1);
    margin-top: 16px;
  }
  &__position {
    width: 245px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: rgba(120, 122, 128, 1);
    margin-top: 4px;
  }
}


.team__slider-next {
  padding: 24px;
  flex-shrink: 0;
  border-radius: 100%;
  cursor: pointer;
  &:hover {
    svg path {
      fill: white;
    }
    background-color: rgba(255, 63, 58, 1);
    transition: 0.4s all;
  }
}

.team__slider-prev {
  padding: 24px;
  flex-shrink: 0;
  border-radius: 100%;
  cursor: pointer;
  &:hover {
    svg path {
      fill: white;
    }
    background-color: rgba(255, 63, 58, 1);
    transition: 0.4s all;
  }
}





