.testimonials-heading {
  margin: 180px 0 60px 0;
  text-align: center;
  &_second-page {
    margin-top: 0;
    padding-top: 80px;
  }
}

.testimonials-carousel {
  width: 1020px;
  height: 344px;
  margin: 0 auto;
  flex-shrink: 0;
  background-color: #FFFFFF;
  padding: 64px 105px;
  &__content {
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  &__text {
    width: 752px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #424551;
    margin-bottom: 24px;
  }
  &__profile {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 59px;
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
    }
  }
  &__name {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    color: #1E212C;
  }
  &__position {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #787A80;
  }
}

.testimonials {
  &-controls {
    position: relative;
  }
  &-prev {
    position: absolute;
    padding: 24px;
    bottom: 137px;
    left: 34px;
    border-radius: 100%;
    cursor: pointer;
    &:hover {
      svg path {
        fill: white;
      }
      background-color: rgba(255, 63, 58, 1);
      transition: 0.4s all;
    }
  }
  &-next {
    position: absolute;
    padding: 24px;
    left: 1155px;
    top: -210px;
    border-radius: 100%;
    cursor: pointer;
    &:hover {
      svg path {
        fill: white;
      }
      background-color: rgba(255, 63, 58, 1);
      transition: 0.4s all;
    }
  }
  &-dots__wrapper {
    padding-top: 60px;
    display: flex;
    height: 0;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-shrink: 0;
  }
  &-dots {
    width: 30px;
    height: 3px;
    background-color: #B3B7BC;
    cursor: pointer;
    &-active {
      background-color: #424551;
    }
  }
}

// second page

section.testimonials {
  background: url("../img/testimonials/backgroundsmall.jpg") center (center/cover) no-repeat;
  min-height: 736px;
}